:root{
  --main-header-bgc: #F3D7B7;
  --main-hero-bgc: #F3D7B7;
  --main-footer-bgc: #F3D7B7;
  --hero-button-bgc:#0A775F;
  --main-collection-bgc:#f8f8f2;
  --main-why-bgc:#c99b67;
  --main-why-color:#ffffff;
  --main-color:#333333;
  --main-how-bgi:#0a775f;
}