@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  /* overflow-x: hidden; */
}

img{
  vertical-align: middle;
  object-fit: cover;
}

.container{
  width: 1380px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

/* HEADER  */



.header{
  background-color: #F3D7B7;
  background-image: url("../images/header-bgi.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(50%) calc(50%);
  background-blend-mode: overlay;
  padding-bottom: 40px;
}

.header__inner{
  display: flex;
  align-items: center;
  padding-top: 45px;
}

.header__nav{
  margin-left: auto;
}

.nav__list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item{
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  margin-left: 40px;
}

.nav__link{
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
  align-items: center;  
}

.nav__item:nth-child(1){
  margin: 0;
}



/* =====================================
================= HERO ================ 
======================================*/

main{
  position: relative;
}

.hero{
  padding-top: 45px;
  /* padding-bottom: 70px; */
}

.hero::before{
  position: absolute;
  width: 160px;
  height: 160px;
  background-image: url("../images/hero.png");
  background-size: 160px 160px;
  top: -57px;
  left: calc(50% - 110px);
  display: block;
  content: "";
}

.hero{
  background-image:
  url("../images/hero1-bgi.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(50% + 350px) calc(100%);
}


.hero__section{
  position: relative;
  background-color: #F3D7B7;
  background-image: url("../images/header-bgi.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: left top;
  background-blend-mode: overlay;
}



.hero__inner{
  padding-top: 154px;
  padding-bottom: 250px;
}


.hero__left{
  width: 464px;
}

.hero__title{
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;
}

.hero__desc{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 34px;
}

.hero-button{
  display: inline-block;
  padding: 16px 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: #FFFFFF;
  background-color: #0A775F;
  border: 0;
  border-radius: 100px;
}


/*--------------------------------------------------
----------------------------------------------------
---------------- COLLECTION -------------------------
-----------------------------------------------------
--------------------------------------------------------- */
.collection{
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.collection__inner::before{
  position: absolute;
  top: calc(50% - 810px);
  right: calc(50% + 400px);
  display: block;
  width: 402px;
  height: 373px;
  background-image: url("../images/cbgi1.png");
  background-repeat: no-repeat;
  transform: rotate(22deg);
  content: "";
}

.collection__inner::after{
  position: absolute;
  top: calc(50% + 0px);
  right: calc(50% - 940px);
  display: block;
  content: "";
  width: 423px;
  height: 477px;
  background-image: url("../images/cbgi2-14.png"),url("../images/cbgi2-2.png");
  background-repeat: no-repeat;
  background-position: center, top 200px left 140px;
  transform:rotate(0), rotate(-127.56deg);
}


.collection__inner{
  background-color: #f8f8f2;
  background-image: url("../images/header-bgi.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  margin-top: 20px;
  padding: 20px 20px 50px;
}

.collection__content::before{
  position: absolute;
  display: block;
  width: 316px;
  height: 285px;
  top: calc(50% + 380px);
  left: calc(50% - 910px);
  background-image: url("../images/cbgi3.png");
  background-repeat: no-repeat;
  content: "";
}


.collection__title{
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
  margin: 0;
  margin-bottom: 80px;
}

.collection__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 1114px;
  margin-left: auto;
  margin-right: auto;
}

.item{
  display: flex;
  align-items: center;
}

.item:nth-child(2n + 2){
  flex-direction: row-reverse;
}

.item__title{
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  font-variant: small-caps;
  color: #333333;
  margin: 0;
  margin-bottom: 10px;
}

.item__desc{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #333333;
  margin: 0;
  width: 395px;
}

.item__img{
  width: 450px;
  height: 375px;
}

.odd{
  margin-right: 117px;
}

.even{
  margin-left: 117px;
}


/*------------- WHY ------------ */

.why{
  position: relative;
  padding-bottom: 290px;
}

.why__inner::before{
  position: absolute;
  top: calc(50% - 246px);
  left: calc(50% - 760px);
  background-image: url("../images/whybefore.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  width: 140px;
  height: 144px;
  display: block;
  content: "";
}

.why__inner{
  background-color: #c99b67;
  background-image: url("../images/header-bgi.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 703px;
  margin: 0 20px;
  padding-bottom: 80px;
  
}

.why__title{
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  padding-top: 50px;
  color: #FFFFFF;
}

.why__desc{
  width: 581px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 80px;
}

.list{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list__img{
  margin-bottom: 28px;
}

.list__title{
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  font-variant: small-caps;
  color: #333333;
  margin: 0;
  margin-bottom: 10px;
}

.list__desc{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  margin: 0;
  padding: 0;
}


/*============== HOW ===========*/

.how{
  position: relative;
  margin-bottom: 50px;
}

.how__inner{
  background-color: #0A775F;
  background-image: url("../images/header-bgi.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.how__inner::after{
  position: absolute;
  top: calc(50% - 365px);
  right: calc(50% - 550px);
  background-image: url(../images/howafter.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 192px;
  height: 229px;
  display: block;
  transform: rotate(10deg);
  content: "";
}

.how__tittle{
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
  color: #FFFFFF;
  padding-top: 50px;
}

.how__list{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  
  background-image: url("../images/how.png");
  background-repeat: no-repeat;
  background-size: 899px 4px;
  background-position: top 30px left 31px; 
}

.subitem__box{
  display: inline-block;
  background: #F8F8F2;
  border: 4px solid #C99B67;
  margin-bottom: 20px;
  padding: 30px;
}

.subitem__text{
  background-color: #F8F8F2;
}


.subitem__number{
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  font-variant: small-caps;
  color: #333333;
  opacity: 0.8;
  text-align: right;
  margin: 0;
  margin-bottom: 45px;
  padding-top: 20px;
  padding-right: 20px;
}

.subitem__title{
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  font-variant: small-caps;
  color: #333333;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 20px;
  width: 231px;
}

.subitem__desc{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  width: 385px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.how__button{
  padding-bottom: 50px;
  text-align: center;
}

.button__link{
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: #FFFFFF;
  mix-blend-mode: normal;
  text-decoration: none;
  background: #C99B67;
  border-radius: 100px;
  padding: 16px 24px;
}

/*=========== FOOTER ========== */

.footer{
  background-color: #F3D7B7;
  background-image: url("../images/header-bgi.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: overlay;
}

.footer__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 65px 50px;
}

.footer__nav{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.subitem{
  margin-right: 40px;
}

.subitem__link{
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
}

.subitem:last-child{
  margin: 0;
}

.footer__list{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__subitem{
  margin-right: 30px;
}

.footer__subitem:last-child{
  margin: 0;
}


