/*=========== FOOTER ========== */

.footer{
  background-color: #F3D7B7;
  background-image: url("../images/header-bgi.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: overlay;
}

.footer__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 65px 50px;
}

.footer__nav{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.subitem{
  margin-right: 40px;
}

.subitem__link{
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
}

.subitem:last-child{
  margin: 0;
}

.footer__list{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__subitem{
  margin-right: 30px;
}

.footer__subitem:last-child{
  margin: 0;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .footer {
  background-image: url("../images/header-bgi@2x.png");
  }
} 
